.addMovie {
    padding: 20px;
    background-color: var(--color-gray-dark);
    border: 1px solid var(--color-gray);
    border-radius: 8px;
}

.addMovie__title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    color: var(--color-fg);
}

.addMovie__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addMovie__form input,
.addMovie__form select {
    padding: 10px;
    background-color: var(--color-black);
    color: var(--color-fg);
    border: 1px solid var(--color-gray);
    border-radius: 4px;
    font-size: 14px;
    font-family: var(--ff-sans);
}

.addMovie__form input::placeholder,
.addMovie__form select option[value=""] {
    color: var(--color-gray);
}

.addMovie__form select {
    color: var(--color-fg);
}

.addMovie__form input[type="button"] {
    background-color: var(--color-accent);
    color: var(--color-black);
    cursor: pointer;
    font-weight: bold;
    border: none;
}

.addMovie__form input[type="button"]:hover {
    filter: brightness(0.85);
}
