<div class="addMovie">
    <h4 class="addMovie__title"># Ajouter un film</h4>
    <form class="addMovie__form">
        
        <input required type="hidden" name="todo" value="addmovie">
 
        <input required type="text" name="name" placeholder="Titre du film*">
        <input required type="text" name="director" placeholder="Réalisateur du film*">
        <input required type="number" name="year" placeholder="Année de sortie*">
        <input required type="number" name="length" placeholder="Durée*">
        <input required type="text" name="description" placeholder="Description*">

        <select required name="id_category">
            <option value="">-- Sélectionner une catégorie* --</option>
            <option value="1">Action</option>
            <option value="2">Comédie</option>
            <option value="3">Drame</option>
            <option value="4">Science-Fiction</option>
            <option value="5">Animation</option>
            <option value="6">Thriller</option>
            <option value="7">Horreur</option>
            <option value="8">Aventure</option>
            <option value="9">Fantaisie</option>
            <option value="10">Documentaire</option>
        </select>

        <input required type="text" name="image" placeholder="Nom du fichier*">
        <input required type="text" name="trailer" placeholder="URL du trailer*">
        
        <select required name="min_age">
            <option value="">-- Âge minimum* --</option>
            <option value="0">Tout public</option>
            <option value="10">10 ans</option>
            <option value="12">12 ans</option>
            <option value="14">14 ans</option>
            <option value="16">16 ans</option>
            <option value="18">18 ans</option>
        </select>
        
        <input onclick="{{handler}}" type="button" value="Ajouter" name="button">

    </form>
</div>