<div class="movie-detail">

  <!-- HERO : image de fond + overlay sombre -->
  <div class="movie-detail__hero" style="background-image: url('{{image}}')">
    <div class="movie-detail__hero-overlay">

      <!-- Spacer pour pousser le contenu vers le bas -->
      <div></div>

      <!-- Bouton play centré -->
      <button class="movie-detail__play" onclick="C.openTrailer('{{trailer}}')">▶</button>

      <!-- Bas du hero : infos à gauche, actions à droite -->
      <div class="movie-detail__hero-footer">

        <div class="movie-detail__hero-bottom">
          <img class="movie-detail__thumb" src="{{image}}" alt="{{title}}">
          <div class="movie-detail__hero-info">
            <h1 class="movie-detail__title">{{title}}</h1>
            <p class="movie-detail__by">De {{director}} ({{year}})</p>
            <p class="movie-detail__meta">{{duration}} | {{category}}</p>
            <div class="movie-detail__badges">
              <img class="movie-detail__badge" src="../server/images/SD.png" alt="SD">
              <img class="movie-detail__badge" src="../server/images/HD.png" alt="HD">
            </div>
          </div>
        </div>

        <div class="movie-detail__hero-actions">
          <button class="movie-detail__trailer-btn" onclick="C.openTrailer('{{trailer}}')">Voir la bande-annonce</button>
          <img class="movie-detail__heart" src="../server/images/favori_blank.png" alt="Favoris">
        </div>

      </div>
    </div>
  </div>

  <!-- CORPS DE LA PAGE -->
  <div class="movie-detail__body">

    <!-- Barre onglet Synopsis + partage -->
    <div class="movie-detail__top-bar">
      <span class="movie-detail__tab movie-detail__tab--active">Synopsis</span>
      <div class="movie-detail__share">
        <span class="movie-detail__share-label">PARTAGER</span>
        <img class="movie-detail__share-icon" src="../server/images/twitter.svg" alt="Twitter">
        <img class="movie-detail__share-icon" src="../server/images/facebook.svg" alt="Facebook">
      </div>
    </div>

    <!-- Texte synopsis -->
    <p class="movie-detail__synopsis">{{description}}</p>

    <!-- Proposé par -->
    <div class="movie-detail__provider">
      <p class="movie-detail__provider-label">PROPOSÉ PAR :</p>
      <img class="movie-detail__provider-logo" src="../server/images/arte.png" alt="Arte">
    </div>

  </div>

</div>
