<div class="profile-list">
  <h4 class="profile-list__title"># Modifier un profil</h4>
  <ul class="profile-list__ul">{{items}}</ul>
</div>

<div class="editProfile" id="editProfilePanel" hidden>
  <h4 class="editProfile__title"># Modifier le profil</h4>
  <form class="editProfile__form" onsubmit="C.handlerUpdateProfile(); return false;">
    <input type="hidden" name="id">
    <input required type="text" name="name" placeholder="Nom d'utilisateur*">
    <input type="text" name="image" placeholder="Fichier photo de profil (optionnel)">
    <input required type="number" name="age" min="0" placeholder="Restriction d'âge*">
    <input type="submit" value="Enregistrer les modifications">
  </form>
</div>
