.addProfile {
    padding: 20px;
    background-color: var(--color-gray-dark);
    border: 1px solid var(--color-gray);
    border-radius: 8px;
}

.addProfile__title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    color: var(--color-fg);
}

.addProfile__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.addProfile__form input,
.addProfile__form select {
    padding: 10px;
    background-color: var(--color-black);
    color: var(--color-fg);
    border: 1px solid var(--color-gray);
    border-radius: 4px;
    font-size: 14px;
    font-family: var(--ff-sans);
}

.addProfile__form input::placeholder {
    color: var(--color-gray);
}

.addProfile__form input[type="button"] {
    background-color: var(--color-accent);
    color: var(--color-black);
    cursor: pointer;
    font-weight: bold;
    border: none;
}

.addProfile__form input[type="button"]:hover {
    filter: brightness(0.85);
}
