@layer reset, variables, components, utilities;

@import "./reset.css" layer(reset);
@import "./variables.css" layer(variables);
@import "./utilities.css" layer(utilities);

@import "../component/Log/style.css" layer(components);
@import "../component/MovieForm/style.css" layer(components);
@import "../component/ProfileForm/style.css" layer(components);

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: var(--ff-sans);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#addMovie,
#addProfile {
  max-width: 600px;
}